# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
from typing import Optional
from fastapi import FastAPI
from fastapi.middleware.cors import CORSMiddleware

# 네트워크 IP 관련
/Config

app = FastAPI()

origins = [
    "http://localhost",  # 로컬호스트 허용
    "http://localhost:19006",  # React Native의 expo가 사용하는 주소
    "http://192.168.0.3",  # 로컬 IP 주소 허용 (PC의 IP)
    # "http://192.168.0.13:3000", # url을 등록해도 되고
    "*" # private 영역에서 사용한다면 *로 모든 접근을 허용할 수 있다.
]

app.add_middleware(
    CORSMiddleware,
    allow_origins=origins,
    allow_credentials=True, # cookie 포함 여부를 설정한다. 기본은 False
    allow_methods=["*"],    # 허용할 method를 설정할 수 있으며, 기본값은 'GET'이다.
    allow_headers=["*"],	# 허용할 http header 목록을 설정할 수 있으며 Content-Type, Accept, Accept-Language, Content-Language은 항상 허용된다.
)

@app.get("/items/{item_id}")
def read_item(item_id: int, name: Optional[str] = None):
    return {"item_id": item_id, "name" : name}